// @import "../../../node_modules/materialize-css/dist/css/materialize.css";

@charset "UTF-8";

// Color
@import "../../../node_modules/materialize-css/sass/components/color-variables";
@import "../../../node_modules/materialize-css/sass/components/color-classes";

// Variables;
@import "../../../node_modules/materialize-css/sass/components/variables";

// Reset
@import "../../../node_modules/materialize-css/sass/components/normalize";

// components
@import "../../../node_modules/materialize-css/sass/components/global";
@import "../../../node_modules/materialize-css/sass/components/badges";
@import "../../../node_modules/materialize-css/sass/components/icons-material-design";
@import "../../../node_modules/materialize-css/sass/components/grid";
@import "../../../node_modules/materialize-css/sass/components/navbar";
@import "../../../node_modules/materialize-css/sass/components/typography";
@import "../../../node_modules/materialize-css/sass/components/transitions";
@import "../../../node_modules/materialize-css/sass/components/cards";
@import "../../../node_modules/materialize-css/sass/components/toast";
@import "../../../node_modules/materialize-css/sass/components/tabs";
@import "../../../node_modules/materialize-css/sass/components/tooltip";
@import "../../../node_modules/materialize-css/sass/components/buttons";
@import "../../../node_modules/materialize-css/sass/components/dropdown";
@import "../../../node_modules/materialize-css/sass/components/waves";
@import "../../../node_modules/materialize-css/sass/components/modal";
@import "../../../node_modules/materialize-css/sass/components/collapsible";
@import "../../../node_modules/materialize-css/sass/components/chips";
@import "../../../node_modules/materialize-css/sass/components/materialbox";
@import "../../../node_modules/materialize-css/sass/components/forms/forms";
@import "../../../node_modules/materialize-css/sass/components/table_of_contents";
@import "../../../node_modules/materialize-css/sass/components/sidenav";
@import "../../../node_modules/materialize-css/sass/components/preloader";
@import "../../../node_modules/materialize-css/sass/components/slider";
@import "../../../node_modules/materialize-css/sass/components/carousel";
@import "../../../node_modules/materialize-css/sass/components/tapTarget";
@import "../../../node_modules/materialize-css/sass/components/pulse";
@import "../../../node_modules/materialize-css/sass/components/datepicker";
@import "../../../node_modules/materialize-css/sass/components/timepicker";

// @import "../../../node_modules/prismjs/themes/prism.css";
@import "../../../node_modules/prismjs/themes/prism-tomorrow.css";
@import "../../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "../../../node_modules/prismjs/plugins/line-highlight/prism-line-highlight.css";

body {
    div, span, li {
        transition: all 0.5s ease-out;
    }
}


@keyframes react-sign {
    0% {
        filter: invert(100%) hue-rotate(0deg) drop-shadow(0px 0px 0px rgba(0,0,0,1));
    }

    50% {
        filter: invert(0%) hue-rotate(90deg) drop-shadow(0px 0px 8px rgba(0,0,0,1));
    }

    100% {
        filter: invert(100%) hue-rotate(180deg) drop-shadow(0px 0px 0px rgba(0,0,0,1));
        transform: rotateZ(+720deg);
    }
}


.switch-wrapper {
    position: relative;
}
   
.switch-wrapper > div {
    position: absolute;
    @extend .col, .s12;
}

.slide-header {
    background: #61dafb;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

    & > h2 {
        > i.r-signed {
            width: 45px;
            height: 40px;
            display: inline-block;
            background: url(./logo.svg);
            background-size: cover;
            animation-name: react-sign;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
    }
}

@import "./whatro.scss";

.small-text-for-alarm{
    font-size: 10px;
    i.material-icons {
        font-size: 10px;
        top: 1px;
        position: relative;
    }
}

.big-header {
    h2 {
        font-size: 21rem;
    }
    small {
        font-size: 20px;
    }
}