code, pre {
    font-size: 14px !important;
}

ol.top-ol {
    padding-inline-end: 40px;
    &.main-list {
        & > li {
            &:not(.activated) {
                color: #000000;
            }
        }
    }

    &.no-number {
        & > li {
            list-style: none;
        }
    }

    & > li {
        &:not(.activated) {
            color: #9e9e9e;
        }

        ul {
            &.main-list {
                li.not-activated {
                    filter: none;
                    -webkit-filter: none;
                }
            }
            li {
                span.active-if-content {
                    display: none;
                }

                &.not-activated {
                    filter: blur(4px);
                    -webkit-filter: blur(4px);
                }

                &.activated {
                    padding: 5px;
                    filter: none;
                    -webkit-filter: none;
    
                    span.active-if-content {
                        display: block;
                        p, li {
                            font-size: 15px;
                        }

                        pre {
                            display: block;
                        }
                    }
                    
                }
            }
        }

        &.activated {
            font-size: 25px;

            b {
                color: #0d47a1;
            }
        }
    }
}